# Sentiment Analysis
---

In [1]:
import warnings
warnings.filterwarnings('ignore')

import pandas as pd
import numpy as np

from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [2]:
df = pd.read_csv('../../clean_datasets/anx_writing.csv').drop(columns = ['Unnamed: 0'], axis = 1)
df.head()

,author,link_flair_text,num_comments,subreddit,created_utc,text
0,JackW357,DAE Questions,9,Anxiety,1606687976,Anyone else scared of dying and scared of when...
1,belladoll1021,Health,1,Anxiety,1606687615,Tight throat Can a tight throat and gagging fe...
2,ashwinderegg,Advice Needed,3,Anxiety,1606687588,Anxiety overriding my intuition. Does anyone e...
3,ashwinderegg,Advice Needed,7,Anxiety,1606687588,Anxiety overriding my intuition. Does anyone e...
4,lachapoxxx,Advice Needed,1,Anxiety,1606687488,hey friends! i need some advice my anxiety has...

In [3]:
#Instantiate Sentiment Analyzer
vader = SentimentIntensityAnalyzer()

In [5]:
#Create dictionary from coefficient csv file

word = pd.read_csv('../word_1_gram.csv')
word = dict(zip(word['Unnamed: 0'], word['coefficient']))
#copied from https://cmdlinetips.com/2021/04/convert-two-column-values-from-pandas-dataframe-to-a-dictionary/

In [6]:
#Update lexicon with coefficient dictionary
vader.lexicon.update(word)

In [7]:
#Create List of score for all the text
score = [vader.polarity_scores(str(sent)) for sent in df['text']]

In [8]:
#Get individual score into list
negative_score = [sub['neg'] for sub in score]
neutral_score = [sub['neu'] for sub in score]
positive_score = [sub['pos'] for sub in score]
compound_score = [sub['compound'] for sub in score]

In [9]:
#Create new columns for ths scores
df['negative_score'] = negative_score
df['neutral_score'] = neutral_score
df['positive_score'] = positive_score
df['compound_score'] = compound_score

In [10]:
df.head(3)

,author,link_flair_text,num_comments,subreddit,created_utc,text,negative_score,neutral_score,positive_score,compound_score
0,JackW357,DAE Questions,9,Anxiety,1606687976,Anyone else scared of dying and scared of when...,0.736,0.230,0.034,-0.9698
1,belladoll1021,Health,1,Anxiety,1606687615,Tight throat Can a tight throat and gagging fe...,0.831,0.169,0.000,-0.8942
2,ashwinderegg,Advice Needed,3,Anxiety,1606687588,Anxiety overriding my intuition. Does anyone e...,0.558,0.344,0.098,-0.9965

In [11]:
df.tail(3)

,author,link_flair_text,num_comments,subreddit,created_utc,text,negative_score,neutral_score,positive_score,compound_score
5997,Midget_Cowboy,,30,writing,1631761085,"Proper Time to Introduce the ""Big Incident"" So...",0.258,0.473,0.269,-0.0962
5998,throwaway5820175,Advice,5,writing,1631759726,Possible copyright issues? I'm wanting to writ...,0.187,0.301,0.511,0.9897
5999,Longjumping-Celery54,Other,1,writing,1604277033,"A poem I wrote called ""Another World"" She wake...",0.291,0.453,0.256,-0.7892

## Save Dataframe with Scores

In [11]:
df.to_csv('./anx_writing_sentiment_scores.csv')